<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="adobereader" />
	  <package id="googlechrome" />
	  <package id="teamviewer" />
	  <package id="firefox" />
	  <package id="7zip" />
	  <package id="vlc" />
	  <package id="skype" />
	  <package id="handbrake" />
	  <package id="sublimetext3" />
	  <package id="slack" />
	  <package id="audacity" />
	  <package id="hwmonitor" />
	  <package id="spotify" />
	  <package id="qbittorent" />
	  <package id="protonvpn" />
	  <package id="notion" />
	  <package id="obs-studio" />
	  <package id="whatsapp" />
	  <package id="bulkrenameutility" />
    </packages>
	
	
                         