<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="curl" />
	  <package id="ruby" />
	  <package id="arduino" />
	  <package id="git" />
	  <package id="python3" />
	  <package id="vscode" />
	  <package id="postman" />
	  <package id="notepadplusplus" />
	  <package id="androidstudio" />
	  <package id="javaruntime" />
	  <package id="virtualbox" />
	  <package id="etcher" />
	  <package id="filezilla" />
	  <package id="etcher" />
    </packages>