<?xml version="1.0" encoding="utf-8"?>
    <packages>
 		  <package id="dropbox" />
		  <package id="megasync" />
		  <package id="googledrive" />
 		  <package id="box-drive" />
 		  <package id="icloud" />
		  <!-- <package id="onedrive" /> -->
      <!-- One Drive disabled by default because windows installations usually come with it -->
    </packages>
	
	
	                                  